@model DemoMvc.Models.Movie
<h1> Movie Info </h1>
<hr />
<p>
    @Html.DisplayNameFor(m => m.Id) : @Html.DisplayFor(m => m.Id)
</p>
<p>
    @Html.DisplayNameFor(m => m.Name) : @Html.DisplayFor(m => m.Name)
</p>
<p>
    @Html.DisplayNameFor(m => m.Year) : @Html.DisplayFor(m => m.Year)
</p>
<p>
    @Html.DisplayNameFor(m => m.Rating) : @Html.DisplayFor(m => m.Rating)
</p>