@model IEnumerable<Movie>
<h1>List of Movies:</h1>
<hr />
<table>
    <thread>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Id)</th>
            <th>@Html.DisplayNameFor(m => m.Name)</th>
            <th>@Html.DisplayNameFor(m => m.Year)</th>
            <th>@Html.DisplayNameFor(m => m.Rating)</th>
        </tr>
    </thread>
    <tbody>
        @foreach (var data in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => data.Id)</td>
                <td>@Html.DisplayFor(m => data.Name)</td>
                <td>@Html.DisplayFor(m => data.Year)</td>
                <td>@Html.DisplayFor(m => data.Rating)</td>
            </tr>
        }
    </tbody>
</table>